@import url(https://fonts.googleapis.com/css?family=Orbitron:900);

[draggable=true]{
	cursor: move;
}
			
*{
	margin: 0;
	padding: 0;
	font-family: Tahoma;
	-moz-user-select: none;
	user-select: none;
}

html, body, main{
	width: 100%;
	height: 100%;
	background: #F0F1F2;
}

.selection_groups{
	width: 900px;
	display: flex;
	flex-flow: row wrap;
}

.selection_groups > *{
	flex: 2 0 0;
	min-width: 50%;
	padding: 20px;
	box-sizing:border-box;
}

.selection_groups .marvel{
	background: rgba(237, 28, 36, 1);
	color: rgba(255, 255, 255, 1);
}
.selection_groups .dc{
	background: rgba(7, 112, 178, 1);
	color: rgba(19, 19, 19, 1);
}
.selection_groups .watchmen{
	background: rgba(0, 0, 0, 1);
	color: rgba(255, 231, 19, 1);
}
.selection_groups .watchmen .selected,
.selection_groups .watchmen .inSelection{
	background: rgba(255, 255, 255,  1);
	color: rgba(0, 24, 236,  1);
}

.selection_groups .idw{
	background: rgba(255, 255, 255, 1); color: rgba(0, 57, 102, 1);
}

.selection_groups .marvel > *:not(#marvelOverlay),
.selection_groups .dc > *:not(#dcOverlay),
.selection_groups .idw > *:not(#idwOverlay){
	font-family: 'Orbitron', sans-serif;
	font-size: 1.2em;
	display: inline-block;
	margin: 10px;
	border: 2px solid;
	padding: 5px 15px;
	border-radius: 9px;
}

.cant_touch_this{
	opacity: 0.5;
}


.selection_list{
	width: 900px;
	display: flex;
	flex-flow: row wrap;
}

.selection_list > div{
	flex: 1 0 0;
	padding: 20px;
	box-sizing:border-box;
}
.selection_list > div ul{
	list-style-type: square;
	list-style-position : inside;
}